@use '../../colors.scss' as col;

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.main {
    flex: 1 1 auto;
    overflow: auto;
    display: flex;
}

.contacts-and-peer-prompt {
    background-color: col.$base-color-secondary;
    display: flex;
    flex-direction: column;
    width: 24rem;
}

.peer-prompt {
    background-color: col.$base-color-secondary-dark;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.peer-prompt-row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.peer-input {
    flex: 1 1 auto;
    min-width: 0;
}