$base-color-primary: #20202e;
$base-color-secondary: #1a1825;
$base-color-secondary-dark: #14121f;
$base-color-tertiary: #0b0813;

$text: #e2eaf2;
$text-detail: #8993ab;
$icon-detail: #54586e;

$interactive-normal: #656880;
$interactive-hover: #808ea0;
$interactive-active: #9cb5be;
$interactive-muted: #474257;
$divider: #373344;

$brand: rgb(98, 76, 150);
$brand-hover: rgb(71, 59, 124);
$brand-active: rgb(64, 58, 121);
$brand-muted: rgb(76, 69, 94);

$red: rgb(206, 40, 53);
$red-hover: rgb(153, 37, 72);
$red-active: rgb(119, 29, 64);
$red-muted: rgb(131, 50, 63);

$yellow: rgb(238, 179, 49);
$yellow-hover: rgb(201, 135, 59);
$yellow-active: rgb(190, 109, 42);
$yellow-muted: rgb(172, 124, 61);

$green: rgb(16, 174, 106);
$green-hover:rgb(32, 138, 120);
$green-active:rgb(33, 114, 114);
$green-muted: rgb(67, 141, 122);
